 
    <html>
    <head>
        <title>Dashboard Example</title>
        
    </head>
    <body>
     
        <div class="cardBox">
          <div class="card">
            <div  style="display: flex; align-items: center;">
              <div class="numbers">{{nbClient}}</div>
              <div class="cardName" >{{"Number of clients"| translate}}</div>
              <div class="iconBx">
              <i class="fas fa-users" style="font-size: 24px;margin-left: 100px; margin-top: -20px;"></i>
              </div>
            </div>
            </div>
          <div class="card">
            <div style="display: flex; align-items: center;">
              <div class="numbers">{{nbProduit}}</div>
              <div class="cardName">{{"Number of products"| translate}}</div>
              <div class="iconBx">
              <i class="fas fa-laptop-code" style="font-size: 24px;  margin-left: 100px; margin-top: -20px;"></i>
              </div>
            </div>

          </div>
          <div class="card">
            <div style="display: flex; align-items: center;">
              <div class="numbers">{{nbTransaction}}</div>
              <div class="cardName">{{"Number of transactions"| translate}}</div>
              <div class="iconBx">
              <i class="fas fa-exchange-alt" style="font-size: 24px; margin-left: 60px;margin-top: -20px;"></i>
              </div>
            </div>

          </div>
          <div class="card">
            <div style="display: flex; align-items: center;">
              <div class="numbers">{{total}}</div>
              <div class="cardName" >{{"Amount of transactions"| translate}}</div>
              <div class="iconBx">
              <i class="fa-regular fa-money-bill-1" style="font-size: 26px;margin-top: -20px; "></i>
              </div>
            </div>
          </div>
        </div>
        <div class="Chart">
        <canvas id="myChart"></canvas>
        
        <br> 
        <div class="d-flex justify-content-between">
            <!-- <button class="btn btn-danger" (click)="getLastDay()">Get last Day</button> -->
            <button (click)="getLastMonth()" class="btn btn-warning">{{"Last month"| translate}}</button>
            <button (click)="getLastYear()" class="btn btn-primary">{{"Last year"|translate}}</button>
        </div>
      </div>
      
        <br>

        <!-- <table class = "table table-striped">
          <thead>
              <tr>
                  <th>Transaction Type</th>
                  <th> Product</th>
                  <th> Client </th>
                  <th> Status </th>
                 
                  
                  
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let transaction of listAjout" >
                  <td> {{ transaction.typeTransaction}} </td>
                  <td> {{transaction.produit }} </td>
                  <td> {{transaction.client}} </td>
                  <td> {{ transaction.statutTransaction }} </td>
                  
                  
                
              </tr>
          </tbody>
      </table> -->
<div class="all-card">
<h3>{{'Last 5 transactions'| translate}} </h3>
<div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><strong>{{'Transaction type'| translate}}</strong></th>
                  <th><strong>{{'Product'| translate}}</strong></th>
                  <th><strong>{{'Client'| translate}}</strong></th>
                  <th><strong>{{'Status'| translate}}</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>service_apres_vente</td>
                  <td>SUPERCOUPE</td>
                  <td>Rafika BOUCHAMAOUI KAROUI</td>
                  <td><span class="badge bg-success">{{'paid'| translate}}</span></td>
                </tr>
                <tr>
                  <td>service_apres_vente</td>
                  <td>CADENCE</td>
                  <td>Belhaj Amor Mondher</td>
                  <td><span class="badge bg-success">{{'paid'| translate}}</span></td>
                </tr>
                <tr>
                  <td>services</td>
                  <td>SUPERCAD 3D</td>
                  <td>Chahed Sofiene</td>
                  <td><span class="badge bg-success">{{'paid'| translate}}</span></td>
                </tr>
                <tr>
                  <td>services</td>
                  <td>OPTIMA PRINT</td>
                  <td>Mestiri Tkiya</td>
                  <td><span class="badge bg-warning text-dark">{{'refunded'| translate}}</span></td>
                </tr>
                <tr>
                  <td>vente_integre</td>
                  <td>SUPERCOUPE</td>
                  <td>Ben Ayed Mouhammed</td>
                  <td><span class="badge bg-success">{{'paid'| translate}}</span></td>
                </tr>
               
               
                
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
       
       

    </body>
    </html>
 