<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  </head>
  
  <div class="container">
    <img class="img"  src="../../assets/image/crm2.png"/>
  
      <!-- <h3 class="def">Customer Relationship Management</h3> -->
   <p class="crm">{{"This CRM platform offers comprehensive management of the company’s customers, products and transactions."| translate}}<br>
    {{"While providing an overview of customer reviews and statistics through its dashboard."| translate}}</p>
      
    
  </div>
  <div class="user">
    <i class="fas fa-user"></i>
  </div>
   
</html>